EXPO_PUBLIC_API_IP=192.168.x.x
EXPO_PUBLIC_API_PORT=8085

EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL="mail@mail.com"
SMTP_PASSWORD=

EXPO_PUBLIC_RADAR_API_KEY=prj_live_pk_...
EXPO_PUBLIC_LOCATION_IQ_API_KEY=pk...

EDGE_PATH=/usr/bin/brave-browser
